In [1]:
import pandas as pd

In [2]:

# 1. Crear DataFrames
ventas = pd.DataFrame({
    'VentaID': [1, 2, 3, 4, 5],
    'ClienteID': [101, 102, 103, 101, 104],
    'Producto': ['Producto A', 'Producto B', 'Producto A', 'Producto C', 'Producto B'],
    'Fecha': ['2024-01-15', '2024-01-18', '2024-02-10', '2024-02-15', '2024-03-01'],
    'Cantidad': [2, 1, 3, 1, 2],
    'PrecioUnitario': [100, 200, 100, 150, 200]
})

clientes = pd.DataFrame({
    'ClienteID': [101, 102, 103, 104],
    'NombreCliente': ['Ana', 'Luis', 'Laura', 'Pedro'],
    'Region': ['Norte', 'Sur', 'Este', 'Oeste']
})

In [3]:
# 2. Merge entre ventas y clientes
df = pd.merge(ventas, clientes, on='ClienteID', how='inner')

In [4]:
# 3. Crear TotalVenta
df['TotalVenta'] = df['Cantidad'] * df['PrecioUnitario']

# 4. Convertir Fecha a datetime
df['Fecha'] = pd.to_datetime(df['Fecha'])

# 5. Extraer el mes
df['Mes'] = df['Fecha'].dt.month_name()

# Mostrar resultado intermedio
print(df)

   VentaID  ClienteID    Producto      Fecha  Cantidad  PrecioUnitario  \
0        1        101  Producto A 2024-01-15         2             100
1        2        102  Producto B 2024-01-18         1             200
2        3        103  Producto A 2024-02-10         3             100
3        4        101  Producto C 2024-02-15         1             150
4        5        104  Producto B 2024-03-01         2             200

  NombreCliente Region  TotalVenta       Mes
0           Ana  Norte         200   January
1          Luis    Sur         200   January
2         Laura   Este         300  February
3           Ana  Norte         150  February
4         Pedro  Oeste         400     March

In [5]:
# Crear Pivot Table
tabla_pivot = pd.pivot_table(df, values='TotalVenta', index='Region', columns='Mes', aggfunc='sum', fill_value=0)
print(tabla_pivot)

Mes     February  January  March
Region
Este         300        0      0
Norte        150      200      0
Oeste          0        0    400
Sur            0      200      0

In [ ]:
# Agrupar por cliente
#Total de ventas (sum) y Promedio de venta por operaci√≥n (mean)
resumen_cliente = df.groupby('NombreCliente')['TotalVenta'].agg(['sum', 'mean'])
print(resumen_cliente)

               sum   mean
NombreCliente
Ana            350  175.0
Laura          300  300.0
Luis           200  200.0
Pedro          400  400.0

In [7]:
# Aplicar stack a la Pivot Table
tabla_stack = tabla_pivot.stack()
print(tabla_stack)

Region  Mes
Este    February    300
        January       0
        March         0
Norte   February    150
        January     200
        March         0
Oeste   February      0
        January       0
        March       400
Sur     February      0
        January     200
        March         0
dtype: int64

In [8]:
# Aplicar unstack
tabla_unstack = tabla_stack.unstack()
print(tabla_unstack)

Mes     February  January  March
Region
Este         300        0      0
Norte        150      200      0
Oeste          0        0    400
Sur            0      200      0